.custom-donate-btn{
    border: 1px solid black;
    border-radius: 8px;
    padding: 7px 0px;

}
.custom-donate-btn button {
  transition: 0.3s ease;
  padding: 3px 0px;
}
.btn-one-time{
    border-radius: 10px 0px 0px 10px;
}
.btn-regular{
    border-radius: 0px 10px 10px 0px;
}
.bg-pink {
  background-color: pink !important;
}

.custom-donate-main-conatiner{
    box-shadow: 0px 0px 22px 0px rgba(128, 128, 128, 0.432);
    border-radius: 10px;
}
.input-width-set{
    width: 75%;
}
.input-width-set::placeholder{
    font-size: 14px; 
}
.input-width-set:focus-visible{
    box-shadow: none;  
    border-color: rgba(128, 128, 128, 0.134);
}